.container {
    padding-top: 0 !important;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;

    .name {
        font-weight: bold;
        color: var(--on-secondary) !important;
        opacity: 0.8;
    }

    &.highlighted .name {
        color: white !important;
    }

    .values {
        opacity: 0.8;
    }
}