.container {
    // padding-top: 0 !important;
    // padding-left: 0 !important;
    display: flex;
    flex-direction: column;
    width: 100%;

    .name {
        font-weight: bold;
        color: var(--on-secondary) !important;
        opacity: 0.8;
    }

    &.highlighted .name {
        color: white !important;
    }

    .values {
        opacity: 0.8;
    }
}