.sign {
    z-index: 5000;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: left;
    align-content: flex-start;
    background-color: rgb(17, 17, 219);
    color: rgb(17, 17, 219);
    background-color: white;
    border: 3pt double rgba(150, 12, 12, 0.619);
    border-radius: 2em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 0.6em !important;
    box-shadow: 2pt 2pt 4pt rgb(0, 0, 69);

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24pt !important;
        opacity: 0.9;
        font-size: 14pt !important;
        line-height: 28pt;

        span {
            margin-left: 0.1em;
        }

        .signat {
            text-transform: uppercase;
            font-variant: small-caps;
        }

        .domainname {
            opacity: 0.8;
            font-weight: 100;
        }
    }
}