.sign {
    z-index: 5000;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: left;
    align-content: flex-start;
    background-color: rgb(17, 17, 219);
    border: 1pt solid rgba(12, 12, 150, 0.619);
    padding: 0 1em !important;
    box-shadow: 4pt 0 8pt navy;

    h2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 24pt !important;
        color: white;
        opacity: 0.9;
        font-size: 2em !important;
        line-height: 1.4em;
    }
}