.map-container {
    width: 50vw;
    height: 100vh;
    position: relative;
    z-index: 0;
}

.map {
    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.zoomedout,
.legend {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3pt !important;
    font-size: 0.85em !important;
    padding: 0 1em !important;
    margin: 1em !important;

    li {
        padding: 0.3em 0 !important;
        margin: 0;
    }
}

.zoomedout {
    top: 75vh;
    width: 25em;
    opacity: 0.8;

    h6 {
        font-size: 14pt;
        margin-bottom: 0.3em;
    }
}

.legend div {
    display: flex;
    align-items: center;
}

.legend-color {
    font-size: 8pt;
    min-width: 1em !important;
    width: 1em !important;
    max-width: 1em !important;
    max-height: 1em !important;
    margin-right: 0.3em !important;
}

.popup {
    z-index: 10;
    position: absolute;
    // left: 35%;
    // top: 35%;
    // transform: translate(-50%, -50%);
    transform: translate(-50%, 70%);
    background-color: hsla(240, 90%, 50%, 50%);
    box-shadow: 0pt 2pt 4pt rgb(0, 0, 69);
    color: #fffd;
    border: 2pt solid oldlace;
    border-radius: 4pt;
    max-width: 20vw;
    width: auto;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24pt;
    line-height: 150%;
}