.sign {
    z-index: 5000;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: left;
    align-content: flex-start;
    background-color: rgb(17, 17, 219);
    color: rgb(17, 17, 219);
    background-color: white;
    border: 3pt double rgba(150, 12, 12, 0.619);
    border-radius: 2em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 1px !important;
    box-shadow: 2pt 2pt 4pt rgb(0, 0, 69);

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.9;
        font-size: 14pt !important;
        line-height: 32pt;
        padding-right: 0.6em;
        padding-left: 2pt;

        .flag {
            margin-right: 0.3em;
        }

        .signat {
            text-transform: uppercase;
            font-variant: small-caps;
        }

        .a {
            position: relative;
            top: -1pt;
        }

        .domainname {
            opacity: 0.8;
            font-weight: 100;
        }

        .petition_id {
            font-variant: small-caps;
            font-size: 90%;
            position: relative;
            top: 1pt;
        }
    }
}