.title,
.subtitle {
    text-transform: capitalize;
    font-size: 24pt !important;
}

.title {
    font-size: 32pt !important;
    opacity: 0.9;
    font-weight: bold;
}

.subtitle {
    font-size: 24pt !important;
    font-weight: 100;
    margin: 0 !important;
    --_padding: 0;

    strong {
        font-weight: 900;
    }
}

.creator_name {
    text-transform: capitalize;
    margin-right: 0.3em !important;
}