.container {
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    // opacity: 0.5;
    display: flex;
    align-items: flex-end;
    background: transparent;
    margin: 0;
}

.spike {
    z-index: 0;
    position: relative;
    // opacity: 0.5;
    // display: flex;
    // align-items: flex-end;
    background: blue;
    background-color: blue;
    border: 1pt solid blue;
    background: linear-gradient(white 0%, blue 30%, #00F5 100%);
}