.graph-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Target SVG rects inside the container */
.graph-container rect {
    stroke: var(--spike-colour);
    stroke-width: 0.5;
    rx: 2;
    shape-rendering: crispEdges;
    transition: height 0.3s ease, y 0.3s ease, fill 0.3s ease;
}