.container {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    // opacity: 0.5;
    display: flex;
    align-items: flex-end;
    background: transparent;
    margin: 0;
}

.spike {
    z-index: 0;
    // background-color: var(--spike-colour) !important;
    border: 0.5px solid var(--spike-colour) !important;
    border: none !important;
    border-radius: 0;
    // background: linear-gradient(white 0%, var(--spike-colour) 30%, #00F5 100%);
}