.main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.overlay {
    max-width: 50vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: calc(100vh - 4em);
    z-index: 1;
    max-height: 100%;
    overflow: hidden;
}

.screen-bottom {
    display: flex;
    width: 100%;
    margin-top: 1em;
    background-color: rgb(9, 9, 194);
}