.main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    // background-color: hsl(240, 94%, 2%);
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: calc(100vh - 4em);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 50vw;
    max-height: 100%;
    overflow: hidden;
}